:root {
  --lkui-primary-color: #1d1d1d;
  --lkui-secondary-color: #2e2e2e;
  --lkui-tertiary-color: #3f3f3f;
  --lkui-light-color: #eaeaea;
  --lkui-display-fonts: 'Typonine Sans', system-ui, sans-serif;
}
body {
  background-color: var(--lkui-primary-color);
  color: var(--lkui-light-color);
  font-family: var(--lkui-display-fonts);
}
.lkui-header {
  background-color: var(--lkui-primary-color);
  padding: 10px;
  display: flex;
  align-items: center;
}
.lkui-header img {
  margin-right: 5px;
}
.lkui-blog-style {
  text-align: center;
}
.lkui-path-no-dec {
  text-decoration: none;
  color: var(--lkui-light-color);
}
.lkui-nav-button {
  display: inline-flex;
  margin-left: 5px;
  padding: 10px;
  transition: all 0.2s ease;
  border-radius: 10px;
}
.lkui-nav-button:hover {
  background-color: var(--lkui-secondary-color);
}
.lkui-App {
  padding: 10px;
  padding-top: 0;
}
.lkui-video-player {
  position: relative;
}
.lkui-video-player-containers {
  position: absolute;
  width: 100%; /* Make sure it takes up the full width of its parent */
  height: 100%; /* Make sure it takes up the full height of its parent */
}

.lkui-video-element {
  width: 100%;
  height: 100%; /* Make sure the video takes up the full height of its container */
  display: block;
}

.lkui-video-player-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: absolute;
  z-index: 1000;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
  color: white;
}


h1 {
  margin: 0;
}