:root {
  --lkui-primary-color: #1d1d1d;
  --lkui-secondary-color: #2e2e2e;
  --lkui-tertiary-color: #3f3f3f;
  --lkui-light-color: #eaeaea;
  --lkui-theme-color: #ff0000;
  --lkui-display-fonts: 'Typonine Sans', system-ui, sans-serif;
}
@keyframes rotate-left-held {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}
@keyframes rotate-right-held {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@keyframes rotate-left-idle {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes rotate-right-idle {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes play-scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}
@keyframes play-scale-inverse {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
body {
  background-color: var(--lkui-primary-color);
  color: var(--lkui-light-color);
  font-family: var(--lkui-display-fonts);
}
.lkui-header {
  background-color: var(--lkui-primary-color);
  padding: 10px;
  display: flex;
  align-items: center;
}
.lkui-header img {
  margin-right: 5px;
}
.lkui-blog-style {
  text-align: center;
}
.lkui-path-no-dec {
  text-decoration: none;
  color: var(--lkui-light-color);
}
.lkui-nav-button {
  display: inline-flex;
  margin-left: 5px;
  padding: 10px;
  transition: all 0.2s ease;
  border-radius: 10px;
}
.lkui-nav-button:hover {
  background-color: var(--lkui-secondary-color);
}
.lkui-App {
  padding: 10px;
  padding-top: 0;
}
.lkui-video-player {
  position: relative;
  border-radius: 10px;
  height: 100%;
  background-color: #000000;
}

.lkui-video-player-containers {
  position: absolute;
  width: 100%;
  height: 100%;
}

.lkui-video-element {
  width: 100%;
  border-radius: 15px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  z-index: 999;
  flex-direction: column;
  justify-content: center;
}

.lkui-video-player-controls {
  display: flex;
  flex-direction: row;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  width: auto;
  position: absolute;
  z-index: 1000;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  color: white;
}

.lkui-transparent-button {
  padding: 5px;
  width: 24px;
  height: 24px;
  margin-top: 15px;
  margin-right: 15px;
  display: inline-block;
  text-align: center;
  position: relative;
  left: 0; /* You can adjust this value */
  border-radius: 10px;
  float: left;
  cursor: pointer;
  transition: all 0.2s ease;
}
.lkui-video-progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 20px;
  width: calc(100% - 25px);
  margin-bottom: 15px;
  height: 8.4px;
  pointer-events: none;
  position: absolute;
  top: 0;
}
.lkui-video-progress::-webkit-progress-bar {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
}
.lkui-video-progress::-webkit-progress-value {
  background-color: var(--lkui-theme-color);
  border-radius: 20px;
}
.lkui-video-captions {
  font-family: 'Cascadia Mono', 'Cascadia Code','Consolas', 'SF Mono', 'Menlo', 'DejaVu Sans Mono', 'Hack', 'Liberation Mono', monospace;
  z-index: 1000; /* Set a z-index higher than the controls */
  position: absolute;
  font-size: 18pt;
  user-select: none;
  text-align: center;
  top: calc(100% - 100px); /* Adjust the value to position it just above the controls */
  margin-bottom: 20px; /* Add a 20px bottom margin */
  text-shadow: #000 2px 2px 3px;
  left: 50%; /* Center horizontally */
  transform: translateX(-50%);
 }

input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 8.4px;
  background: transparent;
  cursor: pointer;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  cursor: pointer;
  border-radius: 1.3px;
  -webkit-appearance: none;
  transition: all 0.4s ease;
}

input[type=range]::-webkit-slider-thumb {
  height: 16px;
  width: 16px;
  border-radius: 16px;
  background: var(--lkui-theme-color);
  cursor: pointer;
  -webkit-appearance: none;
  margin-left: -1px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: transparent;
}

input[type=range].volume {
  height: 5px;
  background-color: #fff;
}

input[type=range].volume::-webkit-slider-runnable-track {
  background-color: transparent;
}

input[type=range].volume::-webkit-slider-thumb {
  margin-left: 0;
  height: 14px;
  width: 14px;
  background: #fff;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  border: 1px solid transparent;
  background: transparent;
  border-radius: 1.3px;
}

input[type=range]::-moz-range-thumb {
  height: 14px;
  width: 14px;
  border-radius: 50px;
  border: 1px solid var(--lkui-theme-color);
  background: var(--lkui-theme-color);
  cursor: pointer;
  margin-top: 5px;
}

input[type=range]:focus::-moz-range-track {
  outline: none;
}

input[type=range].volume::-moz-range-thumb {
  border: 1px solid #fff;
  background: #fff;
}
.lkui-video-player-seeker {
  position: absolute;
  top: 0;
  width: calc(100% - 25px);
  cursor: pointer;
  margin: 0;
}
.lkui-video-player-button-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 0;
}
.lkui-video-player-seekbar {
  height: 8.4px;
  bottom: 10px
}
.lkui-video-player-controls-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.lkui-video-player-controls-right {
  display: flex;
  justify-content: flex-end;
  align-items: center; /* Align items to the center if needed */
  /* Add the following styles to help with positioning */
  position: absolute;
  right: 0;
}
.lkui-video-player-timecode-primary {
  margin-bottom: -13.5px;
  display: inline-block;
  user-select: none;
  margin-right: 15px;
  font-weight: 700;
}
.lkui-video-player-timecode-information {
  margin-bottom: -13.5px;
  display: inline-block;
  user-select: none;
  margin-right: 15px;
  font-weight: 400;
}
.lkui-video-player-timecode {
  font-size: 14pt;
  margin-bottom: -13.5px;
  display: inline-block;
  user-select: none;
  margin-right: 15px;
}
.lkui-fullscreen {
  border-radius: 0 !important;
}
.lkui-fullscreen video {
  border-radius: 0;
}
.lkui-fullscreen .lkui-video-player-controls {
  border-radius: 0;
}
.lkui-video-player-idle {
  z-index: 1000;
  user-select: none;
  position: absolute;
  background-color: rgba(0,0,0,0.8);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.lkui-fullscreen .lkui-video-player-idle {
  border-radius: 0px;
}
.lkui-video-player-idle-details {
  margin-left: 70px;
  max-width: fit-content;
}
.lkui-video-player-idle-details h1 {
  font-size: 56pt;
}
.lkui-video-player-idle-details p {
  font-size: 24pt;
}
h1 {
  margin: 0;
}
.lkui-quick-seek-left:active svg {
  animation: rotate-left-held 0.5s ease;
}
.lkui-quick-seek-right:active svg {
  animation: rotate-right-held 0.5s ease;
}
.lkui-quick-seek-left:active svg {
  animation: rotate-left-idle 0.5s ease;
}
.lkui-quick-seek-right:active svg {
  animation: rotate-right-idle 0.5s ease;
}
.lkui-play-button:active svg {
  animation: play-scale 0.5s ease;
  transform: scale(1.3);
}
.lkui-play-button svg {
  animation: play-scale-inverse 0.5s ease;
}
.lkui-mute-button:active svg {
  animation: play-scale 0.5s ease;
  transform: scale(1.3);
}
.lkui-mute-button svg {
  animation: play-scale-inverse 0.5s ease;
}
.lkui-captions-button:active svg {
  animation: play-scale 0.5s ease;
  transform: scale(1.3);
}
.lkui-captions-button svg {
  animation: play-scale-inverse 0.5s ease;
}
.lkui-spinner-container {
  display: none;
  justify-content: center;
  align-items: center;
}
.lkui-spinner {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 100px);
  z-index: 9999999999;
  text-align: center;
  background: 
    radial-gradient(farthest-side, var(--lkui-theme-color) 94%, #0000) top/24px 24px no-repeat,
    conic-gradient(#0000 30%, var(--lkui-theme-color));
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 24px), #000 0);
  animation: s3 1s infinite linear;
}

@keyframes s3{ 
  100%{transform: rotate(1turn)}
}
p {
  margin: 0;
}
